<!doctype html>
<html>
<head>
    <title>Вход или регистрация</title>
    <style>
        body {
            padding-top: 20px;
        }
        .container {
            width: 200px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Вход или регистрация:</p>

        <button><a href="/login">Войти</a></button>
        <button><a href="/register">Регистрация</a></button>

    </div>

</body>
</html>