<!doctype html>
<html>
<head>
    <title>Вход или регистрация</title>
    <style>
        body        { padding-top:20px; }
    </style>
</head>
<body>
<div class="container">

        <h1>Регистрация</h1>

         <% if (message.length > 0) { %>
            <div><%= message %></div>
        <% } %>

        <form action="/register" method="post">
                <label>Email</label>
                <input type="text" name="email">
                <label>Password</label>
                <input type="password" name="password">

            <button type="submit">Регистрация</button>
        </form>

        <hr>

        <p>Уже есть аккаунт? <a href="/login">Вход</a></p>
        <p>Или <a href="/">Домой</a></p>

</div>
</body>
</html>